<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>ラーメン鳴門</title>
</head>
<body>
	<div class="pages-new-wrapper text-center" layout:fragment="contents">
		<div class="container">
		<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
			<div class="row">
				<div class="col-md-4">
					<h5 class="text-black">営業時間:午前11:00~午後8:00</h5>
					<h5 class="text-black">受け取り可能時間:○○:○○~</h5>

				</div>
				<div class="col-md-4">
					<h5 class="text-black">現住所:千葉県千葉市××区××町</h5>
				</div>
				<div class="col-md-4">
					<h5 class="text-black">電話番号:〇〇〇 △△△</h5>
				</div>
				<div class="d-none d-lg-block d-xl-block d-xxl-block"></div>
				
					<div class="row justify-content-center">

						<div class="col-md-2">
						<h5 class="text-black">テスト１</h5></div>
						<div class="col-md-8">
						<h5 class="text-black">テストテキストあああああああああああああああああああああああああああああああああ</h5></div>
						<div class="col-md-2">
						<h5 class="text-black">テスト２</h5></div>
						
						
							<div
								class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>

							<div class="row">
							<div class="col-md-2"></div>
								<div class="col-md-4">
									<a class="btn w-150 btn-outline-dark" href="/menu">前の画面に戻る</a>
								</div>
								<div class="col-md-4">
									<a class="btn w-50 btn-outline-dark" href="/detail">詳細へ進む</a>
									<div class="col-md-2"></div>
								</div>
							</div>



							<div class="row justify-content-center"></div>
						</div>
					</div>
				</div>
			</div>
		
</body>
</html>