<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layoutmenu}">
<head>
<title>ラーメン鳴門</title>
</head>
<body>
	<div class="pages-new-wrapper text-center" layout:fragment="contents">
		<div class="container">

			<h5 class="text-white">店名:ラーメン鳴門</h5>
			<h5 class="text-white">現住所:千葉県千葉市××区××町</h5>
			<h5 class="text-white">電話番号:〇〇〇 △△△</h5>
			<h5 class="text-white">営業時間:午前11:00~午後8:00</h5>

			<div class="row p-form-top d-none d-lg-block d-xl-block d-xxl-block"></div>
			<h2 class="text-white">メニュー一覧</h2>
			<div class="row">
				<div class="col-md-3">
					<img src="/images/ra-men.png" style="max-width: 30%; height: auto;"
						th:src="@{/images/ra-men.png}">
					<h5 class="text-black">ラーメン 税込:550円</h5>
					<select name=”item”>
						<option value=”item1”>1</option>
						<option value=”item2”>2</option>
						<option value=”item3”>3</option>
						<option value=”item4”>4</option>
						<option value=”item5”>5</option>
						<option value=”item6”>6</option>
						<option value=”item7”>7</option>
						<option value=”item8”>8</option>
						<option value=”item9”>9</option>
						<option value=”item10”>10</option>
					</select>
					<h5 class="text-black">個</h5>
					<a class="btn w-50 btn-outline-dark">カートに入れる</a>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<img src="/images/cha-han.png"
						style="max-width: 40%; height: auto;"
						th:src="@{/images/cha-han.png}">
					<h5 class="text-black">炒飯 税込:440円</h5>
					<select name=”item”>
						<option value=”item1”>1</option>
						<option value=”item2”>2</option>
						<option value=”item3”>3</option>
						<option value=”item4”>4</option>
						<option value=”item5”>5</option>
						<option value=”item6”>6</option>
						<option value=”item7”>7</option>
						<option value=”item8”>8</option>
						<option value=”item9”>9</option>
						<option value=”item10”>10</option>
					</select>
					<h5 class="text-black">個</h5>
					<a class="btn w-50 btn-outline-dark">カートに入れる</a>
				</div>
				<div class="col-md-3"></div>
				<div class="row">
					<div class="col-md-3">
						<img src="/images/raisu.png" style="max-width: 30%; height: auto;"
							th:src="@{/images/raisu.png}">
						<h5 class="text-black">ライス 税込:220円</h5>
						<select name=”item”>
							<option value=”item1”>1</option>
							<option value=”item2”>2</option>
							<option value=”item3”>3</option>
							<option value=”item4”>4</option>
							<option value=”item5”>5</option>
							<option value=”item6”>6</option>
							<option value=”item7”>7</option>
							<option value=”item8”>8</option>
							<option value=”item9”>9</option>
							<option value=”item10”>10</option>
						</select>
						<h5 class="text-black">個</h5>
						<a class="btn w-50 btn-outline-dark">カートに入れる</a>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3">
						<img src="/images/gyouza.png"
							style="max-width: 30%; height: auto;"
							th:src="@{/images/gyouza.png}">
						<h5 class="text-black">餃子５個 税込:220円</h5>
						<select name=”item”>
							<option value=”item1”>1</option>
							<option value=”item2”>2</option>
							<option value=”item3”>3</option>
							<option value=”item4”>4</option>
							<option value=”item5”>5</option>
							<option value=”item6”>6</option>
							<option value=”item7”>7</option>
							<option value=”item8”>8</option>
							<option value=”item9”>9</option>
							<option value=”item10”>10</option>
						</select>
						<h5 class="text-black">個</h5>
						<a class="btn w-50 btn-outline-dark">カートに入れる</a>
						<div class="col-md-3"></div>
					</div>
				</div>
			</div>
			<div class="d-none d-lg-block d-xl-block d-xxl-block">
				<div class="row justify-content-center">
					<div class="col-3">
						<a class="btn w-50 btn-outline-dark" href="/cart">確認へ進む</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>